@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color-primary: #FFFFFF;
    --background-color-secondary: #EFEFED;
  --heading-font: "Poppins", sans-serif;
--body-font: "Inter", sans-serif;
    --text-color: #050503;
}

body{
    font-family: var(--body-font);
    color: var(--text-color);
}

html{
    scroll-behavior: smooth;
}

/* CSS FOR HEADER  */
.links div {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    gap: 10px;
    cursor: pointer ;
}

.profile-pic {
    width: 80%;
    border-radius: 50%;
    margin-right: 20px;
}

header {
    /* border:  3px solid black; */
    background-color: var(--background-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px 16px;
    padding-bottom: 30px;
    gap: 30px;
    text-align: center;
}


.hook {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

nav {
    background-color: #d6d6d6;
    padding: 16px 30px;
    border-radius: 30px;
}

.nav-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-div a {
    transition: all 0.3s ease-in-out;
    color: var(--text-color);
}

.nav-div a:hover {
    background-color: black;
    color: white;
    padding: 5px 5px;
    border-radius: 30px;

}

/* About Section  */

.about {
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.about div {
    display: flex;
    flex-direction: column;
    gap: 10px;    
    align-items: center;
}

.about img {
    width: 70%;
    border: 2px solid wheat;
    border-radius: 50%;
}

/* Skills section  */

.skills {
    height: 100vh;
    padding: 16px 16px;

}

.half {
    background-color: var(--background-color-secondary);
    padding: 30px;
    overflow: hidden;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
    height: 100%;
    
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 10px;


}


/* Projects */

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 16px 16px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--background-color-secondary);
    margin: 10px;
    width: 100%;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.project-card a {
    font-family: "Baloo Bhai 2";
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.144);
    border: 1px rgb(216, 188, 184) solid;
    border-radius: 10px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.project-card a:hover {
    background-color: #050503;
    color: white;
}

/* Footer  */

footer {
    display: flex;
    justify-content: center;
}

/* Contact Section  */
.contact {
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

/* UNIVERSAL CSS */

h1 {
    font-family: var(--heading-font);
    font-weight: 550;
    line-height: 1cm;

}

h2{
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 2rem;
}

h3 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}




button {
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.144);
    border: 1px rgb(216, 188, 184) solid;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
button:hover{
      background-color: #050503;
    color: white;
}
a {
    text-decoration: none;
}



/* MEDIA QUERRIES */

@media (min-width:755px) {

    .links {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .profile-pic{
        width: 10%;
    }

    .nav-div{
        flex-direction: row;
        
    }

    .about {
        flex-direction:row ;
        align-items: center;
    }
    .about img{
        border-radius: 10px;
    }

    .half{
        justify-content: center;
    }

    .project-card{
        width: 30%;
    }
    .contact{
        flex-direction: row;
    }
    .contact form{
        width: 40%;
        padding-left: 20px
    }
}